@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Metal&display=swap");

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-TitleFont: "Inknut Antiqua", serif;
    --font-Primary: "DM Sans", serif;
    --font-Secondary: "Metal", serif;
    --color-bgPrimary: #fff1db;
    --color-bgSecondary: #4c280a;
    --color-bgColor: #FFECC9;
    --color-txtPrimary: #ffffff;
    --color-txtSecondary: #4c280a;
    --color-txtTertiary: #000000;
    --color-txtSubText: #ad8a68;
    --color-txtHighlighted: #d78325;
    --color-icon: #dfaa5b;
    --color-btnColor: #f1b963;
    --color-btnColor2: #e19517;
    --color-txtExtra: #524242;
    --color-colorExtra: #ffecc9;
    --color-footerBg: #935831;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
        position: relative;
    }
    .no-scrollbar:hover {
        scrollbar-width: thin;
        scrollbar-color: #d78325 #FFECC9;
    }
    .no-scrollbar:hover::-webkit-scrollbar {
        display: block;
        width: 8px;
        background: #FFECC9;
        border-radius: 8px;
    }
    .no-scrollbar:hover::-webkit-scrollbar-thumb {
        background: #d78325;
        border-radius: 8px;
    }
    .product-nav-link.active{
        background-color: transparent;
        color: #fff !important;
        border: 2.5px solid #fff;
        border-radius: 100px;
        padding: 0.35em 1.8em;
        letter-spacing: 0.01em;
        transition: border 0.2s, color 0.2s;
    }
    .product-nav-link {
        transition: background 0.2s, color 0.2s;
    }
}
